<div class="side-top">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-btn">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-main">
  <div class="room-names">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>